YII_ENV=dev
YII_DEBUG=true

ADMIN_PASSWORD=CHANGE_ME
USER_PASSWORD=CHANGE_ME

DB_HOST=db
DB_NAME=yii_music_catalog
DB_USER=music_user
DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME

MAILER_HOST=mailhog
MAILER_PORT=1025
MAILER_ENCRYPTION=
MAILER_DSN=smtp://mailhog:1025
MAILER_FROM_EMAIL=CHANGE_ME
MAILER_FROM_NAME="Music catalog robot"

S3_ENDPOINT=http://minio:9000
S3_KEY=CHANGE_ME
S3_SECRET=CHANGE_ME
S3_BUCKET=music-catalog

STORAGE_HOST=http://localhost:9000

FRONTEND_URL=http://music.local:5173

COOKIE_VALIDATION_KEY=CHANGE_ME
