YII_ENV=prod
YII_DEBUG=false

ADMIN_PASSWORD=CHANGE_ME
USER_PASSWORD=CHANGE_ME

DB_HOST=db
DB_NAME=yii_music_catalog
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME

MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USERNAME=CHANGE_ME
MAILER_PASSWORD=CHANGE_ME
MAILER_ENCRYPTION=tls
MAILER_FROM_EMAIL=CHANGE_ME
MAILER_FROM_NAME="Music catalog"

S3_ENDPOINT=http://minio:9000
S3_KEY=CHANGE_ME
S3_SECRET=CHANGE_ME
S3_BUCKET=music-catalog

STORAGE_HOST=http://localhost:9000

FRONTEND_URL=CHANGE_ME

COOKIE_VALIDATION_KEY=CHANGE_ME
